:root {
  --lines: 10;
  --columns: 10;
  --bl-height: 20px;
  --bg-color: #f5f5f5;
  --primary-color: #800080;
  --secondary-color: #460646;
  --hover-color: #dda2dd;
}
:root.dark {
  --bg-color: #0b0b0b;
  --primary-color: #460646;
  --secondary-color: #e4b7f3;
  --hover-color: #dda2dd;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: "Liberation sans", monospace;
  user-select: none;
}

body {
  scroll-behavior: smooth;
  background: var(--bg-color);
}

grid-component {
  display: grid;
  grid-template-rows: repeat(var(--lines), 1fr);
  grid-template-columns: repeat(var(--columns), 1fr);
  width: min-content;
}

block-component {
  width: var(--bl-height);
  height: var(--bl-height);
  border: 1px solid var(--primary-color);
  text-align: center;
  cursor: pointer;
}

block-component.active {
  background: var(--secondary-color);
}

block-component:hover {
  background: var(--hover-color);
}

div.loader {
  border: 1px solid var(--primary-color);
  background: var(--hover-color);
  position: absolute;
}

.hidden {
  display: none !important;
}

menu-component {
  position: absolute;
  z-index: 9;
  display: inline-flex;
  top: 10px;
  right: 10px;
}

menu-component > * {
  border-radius: 50%;
  margin: 5px;
  background-color: var(--secondary-color);
  padding: 20px;
  height: 75px;
  width: 75px;
  cursor: pointer;
  border: 1px solid var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

menu-component img {
  width: 30px;
  height: 30px;
  filter: invert(0.7);
}
.dark menu-component img {
  filter: invert(0.3);
}

menu-component #header {
  cursor: move;
}

menu-component #toggleSettings:hover img {
  animation: rotate;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

configs-component {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: grid;
  align-items: center;
  justify-content: center;
}
configs-component > div {
  background: whitesmoke;
  border-radius: 20px;
  width: 300px;
}
configs-component > div > div {
  padding: 20px;
}
configs-component .title {
  background: var(--primary-color);
  color: white;
  border-radius: 20px 20px 0 0;
  display: flex;
  place-content: space-between;
}

configs-component .title span:last-child {
  font-weight: bold;
  cursor: pointer;
}
configs-component .title span:last-child:hover {
  color: var(--secondary-color);
}

configs-component .body > div {
  display: inline-flex;
  padding: 10px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
configs-component .body label {
  color: purple;
}

configs-component input {
  border: none;
  border-radius: 5px;
  max-width: 80px;
  min-width: 50px;
  padding: 5px;
}

configs-component .body badge label {
  font-size: 0.8em;
}
configs-component .body badge input {
}
configs-component .proportion input {
  width: 30px;
}

/* Animations */
.animated {
  animation-duration: 1s;
}

div.loader.animated {
  animation-name: loading;
}

grid-component.animated {
  animation-name: grid-fade;
}

@keyframes loading {
  0% {
    height: 0vh;
    width: 0vw;
    top: 50%;
    left: 50%;
    opacity: 1;
    border-radius: 50%;
  }
  99% {
    height: 200vh;
    width: 200vw;
    top: -50vh;
    left: -50vw;
    opacity: 1;
    border-radius: 50%;
  }
  100% {
    display: none !important;
    opacity: 0;
    border-radius: 0;
  }
}

@keyframes grid-fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(45deg);
  }
}
